body {
    font-family: Arial, sans-serif;
    background-color: #919191;
    color: #ccc;
}

form {
    width: 400px;
    margin: 50px auto;
    border: 2px solid #555;
    padding: 20px;
    border-radius: 5px;
    background-color: #444;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ccc;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 3px;
    background-color: #555;
    color: #ccc;
}

input[type="submit"] {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #090909;
}
